name: Merge Rules

on:
  schedule:
    - cron: '0 0,12 * * *' 
  workflow_dispatch:

jobs:
  merge-and-clean:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Shanghai'

    steps:
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
          
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install mihomo
      run: |
        version=$(curl -skL https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/version.txt)
        curl -skLo mihomo.deb https://github.com/MetaCubeX/mihomo/releases/download/Prerelease-Alpha/mihomo-linux-amd64-$version.deb
        sudo dpkg -i mihomo.deb

    - name: Convert AD Rules into mrs
      run: |
        bash scripts/convert.sh ads

    - name: Convert AI Rules into mrs
      run: |
        bash scripts/convert.sh ais
        
    - name: Convert Fake_IP_Filter Rules into mrs
      run: |
        bash scripts/convert.sh fakeip

    - name: more mrs
      run: |
        curl -skL https://raw.githubusercontent.com/Repcz/Tool/refs/heads/X/mihomo/Rules/AppleProxy.list | sed '/^#/d' | sed 's/^DOMAIN,//g' | sed 's/^DOMAIN-SUFFIX,/+./g' | grep -v PROCESS-NAME | grep -v '^$' >AppleProxy.txt
        curl -skL https://raw.githubusercontent.com/Repcz/Tool/refs/heads/X/mihomo/Rules/AppleCN.list | sed '/^#/d' | sed 's/^DOMAIN,//g' | sed 's/^DOMAIN-SUFFIX,/+./g' | grep -v PROCESS-NAME | grep -v '^$' >AppleCN.txt
        curl -skL https://raw.githubusercontent.com/ForestL18/rules-dat/refs/heads/mihomo/geo/classical/private.list | sed '/^#/d' | sed 's/^DOMAIN,//g' | sed 's/^DOMAIN-SUFFIX,/+./g' | grep -v PROCESS-NAME | grep -v '^$' >private.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_DNS_DOMAIN.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_DNS_IP.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_Direct_DOMAIN.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_Direct_IP.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_Emby.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Custom_Proxy.txt
        wget https://raw.githubusercontent.com/wuiiled/Wuiiled_Setup/refs/heads/master/rules/Fake_ip_filter_addon.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/alibaba.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > alibaba.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/tencent.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > tencent.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/bilibili.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > bilibili.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/xiaomi.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > xiaomi.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/bytedance.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > bytedance.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/baidu.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > baidu.txt
        curl -skL https://ruleset.skk.moe/Internal/mihomo_nameserver_policy/qihoo360.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > qihoo360.txt
        curl -skL https://ruleset.skk.moe/Clash/domainset/download.txt | sed '/^#/d; /skk\.moe/d; /^$/d; s/^DOMAIN-SUFFIX,/+./; s/^DOMAIN,//; /^\+\.$/d; /^[[:space:]]*$/d' > download.txt
        mihomo convert-ruleset domain text AppleProxy.txt AppleProxy.mrs
        mihomo convert-ruleset domain text AppleCN.txt AppleCN.mrs
        mihomo convert-ruleset domain text private.txt private.mrs
        mihomo convert-ruleset domain text Custom_DNS_DOMAIN.txt Custom_DNS_DOMAIN.mrs
        mihomo convert-ruleset ipcidr text Custom_DNS_IP.txt Custom_DNS_IP.mrs
        mihomo convert-ruleset domain text Custom_Direct_DOMAIN.txt Custom_Direct_DOMAIN.mrs
        mihomo convert-ruleset ipcidr text Custom_Direct_IP.txt Custom_Direct_IP.mrs
        mihomo convert-ruleset domain text Custom_Emby.txt Custom_Emby.mrs
        mihomo convert-ruleset domain text Custom_Proxy.txt Custom_Proxy.mrs
        mihomo convert-ruleset domain text Fake_ip_filter_addon.txt Fake_ip_filter_addon.mrs
        mihomo convert-ruleset domain text alibaba.txt alibaba.mrs
        mihomo convert-ruleset domain text tencent.txt tencent.mrs
        mihomo convert-ruleset domain text bilibili.txt bilibili.mrs
        mihomo convert-ruleset domain text xiaomi.txt xiaomi.mrs
        mihomo convert-ruleset domain text bytedance.txt bytedance.mrs
        mihomo convert-ruleset domain text baidu.txt baidu.mrs
        mihomo convert-ruleset domain text qihoo360.txt qihoo360.mrs
        mihomo convert-ruleset domain text download.txt download.mrs

    - name: Commit and push changes
      run: |
        mv {*.mrs,download.txt,alibaba.txt,tencent.txt,bilibili.txt,xiaomi.txt,bytedance.txt,baidu.txt,qihoo360.txt,ADs_merged.txt,AIs_merged.txt,Fake_IP_Filter_merged.txt} rules/
        CURRENT_TIME=$(date +"%Y-%m-%d %H:%M")
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git checkout --orphan mihomo
        git rm -rf .
        git add rules/*
        git commit -m "Auto Update $CURRENT_TIME"
        git push -f origin mihomo

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: ${{ github.repository }}
        retain_days: 0
        keep_minimum_runs: 2
